<div class="container">
    <div class="content">
        <div class="item">
            <h1>
                {{film.nameRu}}
            </h1>
            <img class="poster" src={{film.posterUrl}} alt="Постер">
            <table class="filminfo">
                <tbody>
                    <tr>
                        <td class="type">Год</td>
                        <td> {{film.year}} </td>
                    </tr>
                    <tr>
                        <td class="type">Длительность </td>
                        <td>  {{film.filmLength}}</td>
                    </tr>
                    <tr>
                        <td class="type"> Cтрана </td>
                        <td>  {{film.countries}}</td>
                    </tr>
                    <tr>
                        <td class="type"> Жанр</td>
                        <td>  {{film.genres}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="desc">
                <h2>Описание</h2>
                <p>
                    {{film.description}}
                </p>
            </div>
        </div>
    </div>
</div>